.firstPage {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.firstPage .firstPage__Container {
  width: 900px;
  height: 600px;
  position: absolute;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.firstPage .firstPage__Container .firstPage__imageContainer {
  width: 400px;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../../imgs/pfp.jpeg");
  background-position: center;
  border-radius: 50%;
}

.firstPage .firstPage__Container .firstPage__spanContainer {
  width: 1200px;
  margin-top: 10px;
  padding: 10px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstPage .firstPage__Container .firstPage__spanContainer h1 {
  font-size: 3rem;
}

.firstPage .firstPage__Container .firstPage__spanContainer a {
  -webkit-text-stroke: 1px #000;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.firstPage .firstPage__Container .firstPage__spanContainer a:nth-child(1) {
  margin-left: 0;
}

.firstPage .firstPage__Container .firstPage__spanContainer a:hover {
  -webkit-text-stroke: 1px #f00;
}

.firstPage .firstPage__Container .firstPage__spanContainer span > :nth-child(1) {
  -webkit-animation: anim 2s infinite;
          animation: anim 2s infinite;
}

@-webkit-keyframes anim {
  from {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes anim {
  from {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.firstPage .fullStackText {
  -webkit-text-stroke: 1px black;
  color: white;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 5rem;
  position: absolute;
  left: -300px;
}

@media screen and (max-width: 1368px) {
  .firstPage .firstPage__Container {
    left: 0%;
  }
}

@media screen and (max-width: 1034px) {
  .firstPage .firstPage__Container {
    left: -14%;
  }
  .firstPage .fullStackText {
    display: none;
  }
}

@media screen and (max-height: 900px) {
  .firstPage .fullStackText {
    font-size: 4rem;
    left: -250px;
  }
}

@media screen and (max-height: 750px) {
  .firstPage .fullStackText {
    font-size: 3rem;
    left: -190px;
  }
}

@media screen and (max-width: 910px) {
  .firstPage {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .firstPage .firstPage__Container {
    position: static !important;
  }
}

@media screen and (max-width: 440px) {
  .firstPage .firstPage__Container .firstPage__imageContainer {
    width: 200px;
    height: 200px;
    background-size: 320px;
  }
  .firstPage .firstPage__Container .firstPage__spanContainer h1 {
    font-size: 2.2rem;
  }
  .firstPage .firstPage__Container .firstPage__spanContainer a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 290px) {
  .firstPage .firstPage__Container .firstPage__spanContainer h1 {
    font-size: 1.7rem;
  }
  .firstPage .firstPage__Container .firstPage__spanContainer a {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=FirstPage.css.map */