.homePage {
  position: relative;
  width: 100%;
}

.homePage .titleBarContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
}

.homePage .titleBarContainer .titleBarPortfolio {
  pointer-events: auto;
  position: absolute;
  right: 10%;
  width: 400px;
  height: 100vh;
  background: black;
  -webkit-transform-origin: center;
          transform-origin: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: appear 1s forwards;
          animation: appear 1s forwards;
  z-index: 1001;
}

@-webkit-keyframes appear {
  0% {
    width: 0;
  }
  100% {
    width: 400px;
  }
}

@keyframes appear {
  0% {
    width: 0;
  }
  100% {
    width: 400px;
  }
}

.homePage .titleBarContainer .titleBarPortfolio .titleBarPortfolio__Text {
  color: black;
  -webkit-text-stroke: 1px white;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 10rem;
  position: absolute;
}

@media screen and (max-height: 940px) {
  .homePage .titleBarContainer .titleBarPortfolio .titleBarPortfolio__Text {
    font-size: 9rem;
  }
}

@media screen and (max-height: 840px) {
  .homePage .titleBarContainer .titleBarPortfolio .titleBarPortfolio__Text {
    font-size: 8rem;
  }
}

@media screen and (max-height: 740px) {
  .homePage .titleBarContainer .titleBarPortfolio .titleBarPortfolio__Text {
    font-size: 7rem;
  }
}

@media screen and (max-height: 640px) {
  .homePage .titleBarContainer .titleBarPortfolio .titleBarPortfolio__Text {
    font-size: 6rem;
  }
}

.homePage .titleBarContainer .titleBarPortfolio .titleBarPortfolio__Text:nth-child(1) {
  -webkit-animation: appearText 2s forwards;
          animation: appearText 2s forwards;
}

@-webkit-keyframes appearText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homePage .titleBarContainer .titleBarPortfolio .titleBarPortfolio__Text:nth-child(2) {
  opacity: 0;
  -webkit-transform: rotate(90deg) translateY(5px);
          transform: rotate(90deg) translateY(5px);
}

.homePage .titleBarContainer .titleBarPortfolio .titleBarPortfolio__Text:nth-child(3) {
  opacity: 0;
  -webkit-transform: rotate(90deg) translateY(10px);
          transform: rotate(90deg) translateY(10px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.homePage .titleBarPortfolio:hover .titleBarPortfolio__Text:nth-child(2) {
  opacity: 1;
  color: black;
}

.homePage .titleBarPortfolio:hover .titleBarPortfolio__Text:nth-child(3) {
  opacity: 1;
  color: white;
}

.homePage .titleBarPortfolio__line {
  width: 100%;
  height: 20px;
  background: black;
  position: absolute;
  top: 3vh;
  z-index: 100;
}

.homePage .titleBarPortfolio__line:nth-child(2) {
  top: 95vh;
}

.homePage .line1::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #000;
  height: 70px;
  bottom: -5vh;
}

.homePage .line2::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #000;
  height: 70px;
  top: -5vh;
}

.homePage .socialMediaIconsContainer {
  pointer-events: auto;
  width: 100px;
  height: 100vh;
  position: absolute;
  left: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homePage .socialMediaIconsContainer .socialMediaIconsContainer__icon {
  margin-top: 50px;
  cursor: pointer;
}

.homePage .socialMediaIconsContainer .socialMediaIconsContainer__icon img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 40px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.homePage .socialMediaIconsContainer .socialMediaIconsContainer__icon img:hover {
  width: 50px;
}

@media screen and (max-width: 1368px) {
  .homePage .socialMediaIconsContainer {
    margin-left: -20px;
  }
  .homePage .titleBarContainer .titleBarPortfolio {
    width: 300px !important;
  }
}

@media screen and (max-width: 1034px) {
  .homePage .socialMediaIconsContainer {
    margin-left: -25px;
  }
  .homePage .titleBarContainer .titleBarPortfolio {
    width: 200px !important;
  }
}

@media screen and (max-width: 910px) {
  .homePage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homePage .titleBarContainer .titleBarPortfolio {
    display: none;
  }
  .homePage .socialMediaIconsContainer {
    left: 0 !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    height: 60px;
    width: 60vw;
    background: rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    top: 85vh;
    left: 20vw !important;
  }
  .homePage .socialMediaIconsContainer .socialMediaIconsContainer__icon {
    margin-top: 0 !important;
    padding: 10px;
  }
}

@media screen and (max-width: 758px) {
  .homePage .line1::after {
    height: 50px;
  }
  .homePage .line2::after {
    height: 50px;
  }
}
/*# sourceMappingURL=HomePage.css.map */