$BarGradient: linear-gradient(
  90deg,
  rgba(131, 58, 180, 1) 0%,
  rgba(253, 29, 29, 1) 50%,
  rgba(252, 176, 69, 1) 100%
);

.contact {
  width: 70%;
  margin-left: 30%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .contactContainer {
    position: absolute;
    width: 900px;
    height: 600px;
    border-radius: 20px;
    background: black;
    // right: 10%;
    background: rgba(2, 0, 0, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    animation: shadowanim 2s infinite;
    @keyframes shadowanim {
      0% {
        box-shadow: 0 8px 32px 0 rgba(0, 0, 10, 0.37);
      }
      50% {
        box-shadow: 0 8px 32px 0 rgba(0, 0, 10, 0.9);
      }
      100% {
        box-shadow: 0 8px 32px 0 rgba(0, 0, 10, 0.37);
      }
    }

    .emailInput {
      width: 80%;
      height: 40px;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 1.3rem;
    }
    .emailInput:focus {
      outline: none;
    }

    .emailBody {
      resize: none;
      margin-top: 20px;
      width: 80%;
      height: 400px;
      border: none;
      outline: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 1.3rem;
    }
    .emailBody:focus {
      outline: none;
    }
    .sendBtn {
      height: 20px;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      cursor: pointer;
      background: rgba(255, 255, 255, 1);
      transition: all 0.1s ease;
      font-size: 1rem;
      color: #000;
    }
    .sendBtn:hover {
      background: rgba(200, 200, 200, 1);
    }
  }
}

@media screen and (max-width: 1368px) {
  .contact {
    .contactContainer {
      padding: 10px;
      width: 700px;
      height: 500px;
    }
  }
}
@media screen and (max-width: 1034px) {
  .contact {
    .contactContainer {
      padding: 10px;
      width: 500px !important;
      height: 440px;
    }
  }
}

@media screen and (max-width: 910px) {
  .contact {
    width: 100%;
    margin-left: 0;
    .contactContainer {
      position: static;
      width: 600px !important;
    }
  }
}

@media screen and (max-width: 630px) {
  .contact {
    padding: 20px;
    .contactContainer {
      width: 400px !important;
      height: 300px;

      .emailInput {
        font-size: 1rem;
      }

      .emailBody {
        font-size: 1rem;
      }
    }
  }
}
